body {
    background-color:black;
    display: flex;
    height: 30vh;
    justify-content: center;
}

#calculator_main {
   background-color: white; 
   border-radius: 30px;
   padding-left: 20px;
   padding-right: 20px;
   padding-top: 10px;
   padding-bottom: 10px;

   margin-top: 20px;
   
    
   font-family:Arial, Helvetica, sans-serif;
   font-size: 14px;

}

#input {
    display: block;
}


#calculator_main h1 {
    color: gray;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    size: 20px;
}

#input_forms {
    padding-left: 80px;
}

#input_forms tr>td {
    padding-bottom: 11px;
}

#textInput {
    border: none;
}

#amount_right_space {
    color: red;
    size: 8px;
    font-style: italic;
}

#years_right_space {
    color: red;
    size: 8px;
    font-style: italic;
}

footer {
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
    font-size: 15px;
}